@charset "utf-8";

%headline-font {
  font-family: "museo-sans", "helvetica", "arial", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}


//// LAYOUT ////

.layout {
  font-family: "ff-meta-serif-web-pro", "times new roman", serif;
  font-size: 18px;
  line-height: 1.4;
  margin: 1em auto;
  max-width: 900px;
  width: 90%;
}

.layout--title {
  @extend %headline-font;
  color: #333;
  font-size: 3rem;
  font-weight: 100;
  margin: 5rem 0 0;
  text-align: center;
}

.layout--sub-title {
  @extend %headline-font;
  color: #888;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 0.25rem 0 1rem;
  text-align: center;

  &:before,
  &:after {
    color: #ccc;
    content: "  · · · ·  ";
    @media all and (max-width: 570px) {
      display: none;
    }
  }
}


//// LOCALES ////

.locales {
  @extend %headline-font;
  display: block;
  text-align: center;
}

.locales--link {
  color: inherit;
  margin: 0 0.2em;
  padding: 0.2em 0.5em;
  text-decoration: none;

  &:hover {
    background: #ccc;
  }

  &.-selected {
    background: black;
    color: white;
  }
}


//// TEXT ////

.text {
  border: #eee double;
  border-width: 3px 0;
  margin: 3rem 0;
  padding: 2rem 6rem;
  @media all and (max-width: 570px) {
    padding: 2rem 0.5rem;
  }

  h2 {
    margin: 3rem 0 1rem;
  }

  p {
    margin: 1rem 0;
  }

  li {
    margin: 0.25rem 0;
  }
}


//// SUPPORTERS ////

.supporters {
  padding: 2rem 6rem;
  @media all and (max-width: 570px) {
    padding: 2rem 0.5rem;
  }
}

.supporters--title {
  @extend %headline-font;
  color: #888;
  font-size: 2rem;
  margin: 0;
}

.supporters--sub-title {
  color: #888;
  margin: 0 0 2rem;
}

.supporters--list {
  padding: 0;
}

.supporters--item {
  border: 1px #eee solid;
  list-style: none;
  margin: 1rem 0;
  padding: 1rem 1.4rem;
}

.supporters--item-name {
  @extend %headline-font;
  font-weight: bold;
  margin: 0;
}

.supporters--item-location {
  color: #888;
}

.supporters--item-link {
  color: #333;
  margin-left: 0.5rem;
  text-decoration: none;

  &:hover {
    color: #777;
  }
}

.supporters--contacts {
  font-size: 0.8rem;
  overflow: hidden;
  padding: 0;
}

.supporters--contacts-item {
  box-sizing: border-box;
  float: left;
  list-style: none;
  margin: 1rem 0 0 0;
  padding: 0 5% 0 0;
  width: 25%;
  @media all and (max-width: 1000px) {
    width: 50%;
  }
  @media all and (max-width: 570px) {
    width: 100%;
  }
}

.supporters--contacts-item-phone,
.supporters--contacts-item-email {
  color: #888;
  display: block;
}

.supporters--add {
  color: #888;
  margin: 2rem 0;
}

.supporters--add-link {
  color: #333;
}

//// FOOTER ////
.original-link {
  color: #888;
}
