<h1 class="code-of-conduct--title">Berlin Code of Conduct</h1>
<p class="code-of-conduct--sub-title">A Code of Conduct for all User Groups and Conferences</p>
<section class="code-of-conduct--text">
  <%= partial 'code-of-conduct' %>
</section>


