<section class="code-of-conduct">
  <h1>Berlin Code of Conduct</h1>
  <p class="code-of-conduct--sub-title">A Code of Conduct for all User Groups and Conferences</p>
  <%= partial 'code-of-conduct' %>
</section>

